html, body {
    padding: 0 !important;
    margin: 0 !important;
}
body {
        font-size: 16px;
}
main {
    position: relative;
    min-height: 80vh;
}
header {
    text-align: center;
    font-size: 40px;
    background: lightblue;
}
#hideMenu {
    
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5vh;
    display: inline-block;
}
#hideMenu nav {
    position: relative;
    left: 0;
    top: 0;
    width: 30vh;
    height: 100%;
    background: lightgray;
    display: inline-block;
    left: -25vh;
    transition: left 1s .5s;
    overflow:hidden;
}
#hideMenu nav div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
#hideMenu nav div dl {
    margin: 5px 10px;
    display: inline-block;
}

#hideMenu nav div div {
    position:absolute;
    right: 0;
    top:0;
    width: 5vh;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

#hideMenu nav div div:hover {
    background: black;
    color: white;
    
}

#hideMenu nav:hover {
    left: 0;
}

#hideMenu nav:hover div div p {
    transform: rotate3d(0,0,1,180deg);
}
#hideMenu nav div div p {
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    left: calc(50% - 10px);
    transition: transform 1s .5s;
}

div#content {
    margin: 0 0 0 7vh;
    display: inline-block;
    
}

footer {
    text-align: center;
    background: lightblue;
}

dl dt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin: 20px 0;
    text-align: center;
}

dl dd {
    border: 1px solid lightgreen;
    background: silver;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

dl dd:hover {
    border-width: 2px;
    font-weight: bold;
}
